Repository pmb0/nestjs-tsx-views: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: fix deps
  package.json
  yarn.lock
Due: prettier --write

ci: use node 18
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
Due: none

ci: use node 16
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  dca9636b781c792a755f0c47e48d1a034fd194a2
Due: none

chore(release): 1.2.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix examples
  example/basic/main.ts
  example/graphql/main.ts
  example/multiple-modules/main.ts
Due: eslint --fix

feat: esm
  .npmignore
  example/multiple-modules/app.module.ts
  example/multiple-modules/feature1/feature1.module.ts
  example/multiple-modules/feature2/feature2.module.ts
  index.ts
  package.json
  src/example/basic/app.controller.ts
  src/example/basic/app.module.ts
  src/example/basic/main.ts
  src/example/basic/views/layouts/main.tsx
  src/example/basic/views/my-context.tsx
  src/example/basic/views/my-view.tsx
  src/example/graphql/app.controller.ts
  src/example/graphql/app.module.ts
  src/example/graphql/main.ts
  src/example/graphql/views/layouts/main.tsx
  src/example/graphql/views/my-view.tsx
  src/example/multiple-modules/app.module.ts
  src/example/multiple-modules/feature1/feature1.controller.ts
  src/example/multiple-modules/feature1/feature1.module.ts
  src/example/multiple-modules/feature1/views/my-view.tsx
  src/example/multiple-modules/feature2/feature2.controller.ts
  src/example/multiple-modules/feature2/feature2.module.ts
  src/example/multiple-modules/feature2/views/my-view.tsx
  src/example/multiple-modules/main.ts
  src/index.ts
  src/tsx-views.middleware.ts
  src/tsx-views.module.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v2.0.0-beta.0
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{html,json}
