Repository pmb0/nestjs-tsx-views: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency @semantic-release/release-notes-generator to v9.0.3
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.11
  yarn.lock
Due: none

chore: upgrade deps
  package.json
  yarn.lock
Due: prettier --write

feat: support GraphQL queries
  README.md
  example/graphql/app.controller.ts
  example/graphql/app.module.ts
  example/graphql/main.ts
  example/graphql/views/layouts/main.tsx
  example/graphql/views/my-view.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c508f2bd9c1ee14c0c8fc10051b98cadb7699c7e
Due: none

docs: update toc
  README.md
Due: none

docs: improve gql example
  README.md
Due: none

chore(deps): update dependency @heise/eslint-config to v17.0.7
  yarn.lock
Due: none

chore(deps): update dependency ts-jest to v27
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @heise/eslint-config to v17.0.8
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.13
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.3.5
  yarn.lock
Due: none

chore(deps): update dependency husky to v7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @apollo/client to v3.3.21
  yarn.lock
Due: none

chore(deps): update dependency @types/express to v4.17.13
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v26.0.24
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.14
  yarn.lock
Due: none

chore(deps): update dependency husky to v7.0.1
  yarn.lock
Due: none

chore(deps): update dependency rxjs to v7.2.0
  yarn.lock
Due: none

chore(deps): update dependency @nestjs/config to v1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @nestjs/schedule to v1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @nestjs/schematics to v8
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{html,json}
