Repository pmb0/nestjs-tsx-views: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{html,json}": [
    "prettier --write"
  ]
}

chore(deps): update nest monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @nestjs/schematics to v8.0.2
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11.0.1
  yarn.lock
Due: none

chore(deps): update dependency @heise/eslint-config to v18
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @heise/eslint-config to v18.0.2
  yarn.lock
Due: none

chore(deps): update dependency @nestjs/config to v1.0.1
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.15
  yarn.lock
Due: none

chore(deps): update dependency express-tsx-views to v1.3.2
  yarn.lock
Due: none

chore(deps): update dependency ts-jest to v27.0.4
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11.1.1
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v13
  package.json
  yarn.lock
Due: prettier --write

chore: add missing dep
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade deps
  yarn.lock
Due: none

feat: support React contexts
  README.md
  example/basic/app.controller.ts
  example/basic/views/my-context.tsx
  example/basic/views/my-view.tsx
  src/tsx-views.module.ts
  src/tsx-views.service.ts
  yarn.lock
Due: eslint --fix

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ad8d3b93b59cde550e2c0d5e2f9447c6ac0f7c44
Due: none

fix: add missing export
  src/index.ts
Due: eslint --fix

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ea4b6bb52026ecb7c9a4f8e8a172b28a4a0643b
Due: none

chore(release): 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  05620b4fd9a1cfd012632cb562b1150cf9b36ba2
Due: none

fix: export * from express-tsx-views
  src/index.ts
Due: eslint --fix

chore(release): 1.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f1c32971f5bc04a0f28d3b6c22e69f344b599442
Due: none

chore(release): 1.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5f9d02a6790fcdb8351f7f677f89ee03bc8dbf8
Due: none

chore(deps): update dependency @apollo/client to v3.4.5
  yarn.lock
Due: none
